<div class="container">
    <div class="row class-padding-top-about">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-light shadow bg-white rounded">
                <div class="card-header">
                    Tentang Aplikasi
                </div>
                <div class="card-body">
                    <h5 class="card-title">Aplikasi Jam Dinding PWA v2.0.0</h5>
                    <p class="card-text">Aplikasi Jam Dinding yang dibuat dengan Framework Vue JS dan dengan mode Progressive Web Apps.</p>
                    <a href="https://github.com/GulajavaMinistudio/JamDindingVuePWA" target="_blank" class="float-right btn btn-success">Kode Sumber Aplikasi</a>
                </div>
            </div>
        </div>
    </div>
</div>